body {
    background-color: #FEFABB;
}

header {
    background-color: #FEFABB;
    font-family: 'Londrina Shadow', cursive;
    color: #D87551;
    padding-left: 20px;
}

span {
    font-family: 'Mali', cursive;
    color: #AB8459;
}

h3 {
    font-size: 20px;
}

p {
    font-family: 'Mali', cursive;
}

.currentCity {
    font-weight: 750;
    font-size: x-large;
}

.selection {
    margin: 10px 0px 0px 10px;
}

.gif {
    width: 100%;
}

.info {
    vertical-align: bottom;
}

.results {
    padding: 10px;
    line-height: 1;
    background-color: #EABC69;
    border-radius: 25px;
}

.row {
    margin: 10px 0px;
}

.savedResults {
    border-radius: 25px;
    background-color: #53D9C5;
    padding: 10px;
}

.searchBar {
    border-radius: 25px;
    background-color: #D8D115;
    margin-top: 10px;
    padding: 10px 30px 15px 30px;
    text-align: left;
}

.search-img {
    max-height: 220px;
}

.save-img {
    max-height: 180px;
}

.smoosh {
    text-align: center;
    font-family: 'Mali', cursive;
}

.toastie {
    width: 20%;
    float: left;
}

::placeholder {
    color: #AB8459;
    text-align: center;
    font-family: 'Mali', cursive;
}

@media screen and (max-width: 576px) {
    h2 {
        font-size: 30px;
    }
    ::placeholder {
        font-size: 12px;
    }
}